<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo-container">
      <a routerLink="home" class="navbar-brand">
        <img src="assets/images/LogoHandMade.png" alt="Logo" height="40">
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>


        <div class="signout-container">
          <button class="signout-btn" (click)="signOut()">
            Sign Out
          </button>
        </div>
      </div>
</nav>