<div class="col">
  <div class="card h-100 border-0 shadow-sm position-relative">
    <div class="position-relative" >
      <img
        [src]="product.image"
        class="card-img-top p-3 object-fit-contain"
        [alt]="product.image ?'../public/bag.jfif':product.image "
        style="height: 200px;"
        [routerLink]="['/product-details', product.productId]"
      />
      <button
        class="btn btn-light position-absolute top-0 end-0 m-2 rounded-circle shadow-sm"
        ngbTooltip="Add to Wishlist">
        <i class="far fa-heart text-danger fs-5" (click)="addToWishlist(product.productId)"></i>
      </button>
    </div>
    <div class="card-body d-flex flex-column">
      <h5 class="card-title text-truncate mb-2" [title]="product.name">
        <i class="fas fa-tag me-2" style="color: RGB(137, 150, 129);"></i>
        {{ product.name }}
      </h5>
      <div class="mb-2 rate">
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star"></i>
        <i class="fas fa-star-half-alt"></i>
        <i class="far fa-star"></i>
        <span class="ms-1">(24)</span>
      </div>
      <p class="card-text mb-3 flex-grow-1 rate">
        <i class="fas fa-info-circle me-2"></i>
        {{ product.description }}
      </p>
      <div class="d-flex justify-content-between align-items-center mt-auto">
        <span class="fw-bold fs-5 price">
          <i class="fas fa-coins me-2"></i>
          {{ product.priceAfterSale | currency:'EGP' }}
        </span>
        <button class="btn btn-addToCart btn-sm"
                (click)="addToCart(product.productId, product.stock)">
          <i class="fas fa-shopping-cart me-1"></i> Add
        </button>
      </div>
    </div>
  </div>
</div>
