<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <div class="logo-container">
      <a routerLink="home" class="navbar-brand">
        <img src="assets/images/LogoHandMade.png" alt="Logo" height="40">
      </a>
    </div>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/categories" routerLinkActive="active">Categories</a>
          
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/product" routerLinkActive="active">Product</a>
        </li>
      </ul>

      <div class="navbar-actions">
        <div class="cart-container">
          <button class="cart-btn" [routerLink]="['/cart']">
            <i class="fas fa-shopping-cart"></i>
            <span class="cart-badge">{{ cartCount }}</span>
          </button>
        </div>

        <div class="signout-container">
          <button class="signout-btn" (click)="signOut()">
            Sign Out
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>